/* Write your global styles here, in PostCSS syntax */

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	@apply w-1;
}

::-webkit-scrollbar-track {
	@apply bg-background-dark;
}

::-webkit-scrollbar-thumb {
	@apply bg-background-light;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-primary;
}
